@page "/courseoverview"
@using MudBlazor
@using System.Security.Claims

<PageTitle>Kursübersicht</PageTitle>

<MudContainer Class="mt-4">
    <MudGrid Spacing="3" >
        <!-- Scripting Tile with Limited Image Size and Chip -->
        <MudItem xs="12" sm="4">
            <MudLink Href="/HTMLCSS" Style="text-decoration: none;">
            <MudPaper Class="pa-4" Elevation="4" Style="text-align: center;">
                

                <!-- Limited size for the image -->
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <!-- Image with limited size -->
                    <MudImage Src="PicturesCoursoverview/HTMLCSS.png"
                              Alt="HTML/CSS Course Image"
                              Style="width: 100%; max-width: 200px; height: auto;" />

                    <!-- Chip always below the image -->
                    <MudChip T="string" Variant="Variant.Text" Size="Size.Small">Open</MudChip>
                </div>
            </MudPaper>
            </MudLink>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudLink Href="/" Style="text-decoration: none;">
                <MudPaper Class="pa-4" Elevation="4" Style="text-align: center;">


                    <!-- Limited size for the image -->
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <!-- Image with limited size -->
                        <MudImage Src="PicturesCoursoverview/HTMLCSS.png"
                                  Alt="HTML/CSS Course Image"
                                  Style="width: 100%; max-width: 200px; height: auto;" />

                        <!-- Chip always below the image -->
                        <MudChip T="string" Variant="Variant.Text" Size="Size.Small">Open</MudChip>
                    </div>
                </MudPaper>
            </MudLink>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudLink Href="/" Style="text-decoration: none;">
                <MudPaper Class="pa-4" Elevation="4" Style="text-align: center;">


                    <!-- Limited size for the image -->
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <!-- Image with limited size -->
                        <MudImage Src="PicturesCoursoverview/HTMLCSS.png"
                                  Alt="HTML/CSS Course Image"
                                  Style="width: 100%; max-width: 200px; height: auto;" />

                        <!-- Chip always below the image -->
                        <MudChip T="string" Variant="Variant.Text" Size="Size.Small">Open</MudChip>
                    </div>
                </MudPaper>
            </MudLink>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudLink Href="/" Style="text-decoration: none;">
                <MudPaper Class="pa-4" Elevation="4" Style="text-align: center;">


                    <!-- Limited size for the image -->
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <!-- Image with limited size -->
                        <MudImage Src="PicturesCoursoverview/HTMLCSS.png"
                                  Alt="HTML/CSS Course Image"
                                  Style="width: 100%; max-width: 200px; height: auto;" />

                        <!-- Chip always below the image -->
                        <MudChip T="string" Variant="Variant.Text" Size="Size.Small">Open</MudChip>
                    </div>
                </MudPaper>
            </MudLink>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudLink Href="/" Style="text-decoration: none;">
                <MudPaper Class="pa-4" Elevation="4" Style="text-align: center;">


                    <!-- Limited size for the image -->
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <!-- Image with limited size -->
                        <MudImage Src="PicturesCoursoverview/HTMLCSS.png"
                                  Alt="HTML/CSS Course Image"
                                  Style="width: 100%; max-width: 200px; height: auto;" />

                        <!-- Chip always below the image -->
                        <MudChip T="string" Variant="Variant.Text" Size="Size.Small">Open</MudChip>
                    </div>
                </MudPaper>
            </MudLink>
        </MudItem>
    </MudGrid>

</MudContainer>



