@page "/selektorenundklassen"
@using MudBlazor


<MudDialogContent>
    <p>This is the content of the Grundstruktur HTML page.</p>
</MudDialogContent>

<MudDialogActions>
    <MudButton OnClick="CloseDialog" Color="Color.Primary">Close</MudButton>
</MudDialogActions>

@code {
    [CascadingParameter] MudDialogInstance Dialog { get; set; }

    private void CloseDialog()
    {
        Dialog.Close();
    }
}